body {
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 4vw;
  font-weight: 100;
  margin: 0.2em;
}

.app-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 2px;
  border: 2px solid red;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2px;
  border: 2px solid blue;
}

.grid-control {
  margin: 10px auto;
}

.grid-control select {
  margin-left: 10px;
}

.grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.box{
  padding-left: 10px;
  width: auto;
  margin: 10px;
  border: solid thick black;
}

.list-container {
  padding: 2px;
  border: 2px solid green;
}

.name {
  cursor: pointer;
  border: 1px solid black;
  padding-left: 5px;
  margin-bottom: 1px;
  background-color: white;
}

.inactive {
  color: grey;
}

.state-area {
  padding-left: 10px;
  border: 1px solid black;
}

select {
  font-family: sans-serif;
  font-size: 16px;
}

input[type=search] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid purple;
  padding-left: 5px;
}